{% extends "base.html" %}

{% block title %} Cuestionario {% endblock %}

{% block content%}
<head>
    <style> 
    select {
      width: 99%;
      padding: 10px 18px;
      box-sizing: border-box;
      border: none;
      border-radius: 15px;
      background-color: #fffefe;
    }
    style.preguntas {
        text-align: left;
    }
    </style>
</head>
<div align=center>
    <h1 style="text-align: center; font-family:'Times New Roman', Times, serif;"> Cuestionario </h1>
        <form method = "GET">
        <div style="background-color: rgba(36, 253, 253, 0.14); width: 30%; border-radius: 15px;
        padding: 15px 20px; text-align: left;">
        <ul>
            <h3 style="text-align: center;"> 1.- ¿Sientes preocupación?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 2.- ¿Tienes pensamiento o sentimientos negativos sobre tí mismo/a?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 3.- Sientes inseguridad?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 4.- ¿Tienes temor a que te noten la ansiedad y a lo que pensarán si esto sucede?: : </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 5.- ¿Sientes molestias en el estómago?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>
            
            <h3 style="text-align: center;"> 6.- ¿Sudas?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 7.- ¿Tiemblas?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 8.- ¿Te sientes tenso/a?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 9.- ¿Sientes aceleración caridaca?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 10.- ¿Haces movimientos repetitivos, como mover los pies, las manos, rascarte, etc?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 11.- ¿Fumas, comes o bebes en exceso?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>

            <h3 style="text-align: center;"> 12.- ¿Sueles evitar situaciones?: </h3>
            <p style="margin-left: 70px">{{ form.mood1_field }}</p>
        </ul>
        </div>
            <input type = "submit" value = "Enviar">
        </form>
</div>
{% endblock %}