<html>

<style>
    #barra1{
        background-color: pink;
        width: 100%;
        height: 11%;
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        text-align:center;
        
    }
    #barra1 li{
        display: inline;
        margin: 0 20px;
    }
</style>

<body>

    <ul id="barra1">

        <h1
            style="color:black; text-align:center">Me llaman el inamovible, un gusto
        </h1>

        <li>Home</li>
        <li>Test</li>
        <li>Perfil</li>

    </ul>

</body>


</html>