<html>
<head>

    <title>
    
        {% block title %} {% endblock %}
    </title>
    <style>


        
    </style>

</head>

<body>


    <body background=https://i.pinimg.com/originals/56/c5/05/56c505d1725d55a780c828ee6a60ab49.jpg
        style="background-repeat: no-repeat; 
        margin: 0;
        padding: 0;
        width: 100%;
        height: cover;
        background-size: cover;
        background-position: center;">
        
    </body>
        
        {% include "barra1.html" %}

    {% block content %}
    {% endblock %}

        {% include "pie.html" %}

</body>


</html>

